<p>
  Start editing to see some magic happen :)
</p>
<input type="text" class="form-control" id="name" required [(ngModel)]="name" name="name">
<button (click)="search(name)">Send</button>
<hello name="{{ name }}"></hello>
<p> {{data | json}} </p>
<router-outlet></router-outlet>